*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.header{
    width: 100%;
    height: 100vh;
    background-image: url(../images/desktop/image-header.jpg);
    background-size: cover;
}

.top{
    display: flex;
    padding: 30px 30px 0 30px;
}

.header_left_logo, .header_right_menu{
    width: 50%;
}

.header_left_logo{
    display: flex;
    align-items: center;
}

.header_left_logo img{
    width: 170px;
}

.header_right_menu .list{
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

.header_right_menu .list .list_item{
    border: 1px solid lightskyblue;
    width: 120px;
    text-align: center;
    margin-left: 10px;
    padding: 20px 25px;
    border-radius: 65px;
    transition: all 0.2s ease;
}

.header_right_menu .list .list_item a{
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.header h1{
    text-align: center;
    color: white;
    font-size: 60px;
    margin: 100px 0;
    font-family: 'Dancing Script', cursive;
    font-family: 'Playfair Display', serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Ultra', serif;
    font-weight: 100;
    letter-spacing: 5px;
}
.header .header_arrow{
    display: flex;
    justify-content: center;
}

.header .arrow{
    height: 150px;
}

.section_1{
    display: flex;
}

.section_1_left, .section_1_right{
    width: 50%;
    box-sizing: border-box;
}

.section_1_right img{
    width: 100%;
    height: 100%;
}

.section_1_left{
    padding: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section_text{
    color: #28323F;
    font-size: 40px;
    font-family: 'Dancing Script', cursive;
    font-family: 'Playfair Display', serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Ultra', serif;
    font-weight: 300;
    margin: 0 0 45px 0;
}

.gray_text{
    color: gray;
    margin-bottom: 45px;
}

.section_1_left .btn{
    text-decoration: none;
    font-family: 'Dancing Script', cursive;
    font-family: 'Playfair Display', serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Ultra', serif;
    font-weight: 300;
    color: #28323F;
    font-size: 20px;
    border-bottom: 5px solid white;
    width: 140px;
    transition: all 0.1s ease;
}

.section_2{
    display: flex;
}

.section_2_left, .section_2_right{
    width: 50%;
}

.section_2_left img{
    width: 100%;
    height: 100%;
}

.section_2_right{
    padding: 160px 105px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
}

.section_2_right .btn{
    text-decoration: none;
    font-family: 'Dancing Script', cursive;
    font-family: 'Playfair Display', serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Ultra', serif;
    font-weight: 300;
    color: #28323F;
    font-size: 20px;
    border-bottom: 5px solid white;
    width: 140px;
    transition: all 0.1s ease;
}

.section_3{
    display: flex;
}

.section_3_left, .section_3_right{
    width: 50%;
    height: 575px;
}

.section_3_left{
    display: flex;
    flex-direction: column-reverse;
    padding: 0px 150px 60px 150px;
    box-sizing: border-box;
    text-align: center;
    background-image: url(../images/desktop/image-graphic-design.jpg);
    background-size: cover;
    color: #00453A;
}

.section_3_text{
    margin-bottom: 30px;
    font-family: 'Dancing Script', cursive;
    font-family: 'Playfair Display', serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Ultra', serif;
    font-weight: 300;
}

.section_3_right{
    display: flex;
    flex-direction: column-reverse;
    padding: 0px 150px 60px 150px;
    box-sizing: border-box;
    text-align: center;
    background-image: url(../images/desktop/image-photography.jpg);
    background-size: cover;
    color: #004968;
}

.section_4{
    margin: 160px;
    text-align: center;
}

.section_4 h2{
    color: #A3A5A5;
    margin-bottom: 80px;
    font-family: 'Dancing Script', cursive;
    font-family: 'Playfair Display', serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Ultra', serif;
    font-weight: 300;
}

.card_wrapper{
    display: flex;
}

.card_wrapper .card{
    margin: 0 20px;
}

.card_wrapper .card img{
    border-radius: 50%;
    margin-bottom: 80px;
}

.card_wrapper .card p{
    line-height: 25px;
    margin-bottom: 80px;
    font-weight: 550;
}

.card_wrapper .card h3{
    font-family: 'Dancing Script', cursive;
    font-family: 'Playfair Display', serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Ultra', serif;
    font-weight: 300;
    color: #28323F;
    margin-bottom: 20px;
}

.card_wrapper .card .job{
    color: #A3A5A5;
    font-size: 14px;
}

.section_5{
    display: flex;
    flex-wrap: wrap;
}

.section_5 div{
    width: 25%;
}

.section_5 div img{
    width: 100%;
    height: 100%;
}

footer{
    padding: 65px 0;
    background-color: #90D4C5;
}

.text_logo{
    color: #00453A;
    display: flex;
    justify-content: center;
    margin-bottom: 45px;
}

.bottom_menu .bottom_menu_list{
    display: flex;
    justify-content: center;
    list-style: none;
    color: #2C7664;
}

.bottom_menu .bottom_menu_list li{
    margin: 0 30px;
    margin-bottom: 80px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.bottom_icons .bottom_icons_list{
    display: flex;
    justify-content: center;
    list-style: none;
    color: #2C7664;
}

.bottom_icons .bottom_icons_list li{
    margin: 0 15px;
    cursor: pointer;
    font-size: 20px;
    transition: all 0.2s ease;
}



/* Hover */
.header_right_menu .list .list_item:hover{
    background-color: lightskyblue;
}

.section_1_left .btn:hover{
    border-bottom: 5px solid #F4D412 ;
}

.section_2_right .btn:hover{
    border-bottom: 5px solid #FD796A ;
}

.bottom_menu .bottom_menu_list li:hover{
    color: white;
}

.bottom_icons .bottom_icons_list li:hover{
    color: white;
}